<nav class="nav">
    <div class="name">
        <a routerLink="/formateur">Company</a>
    </div>
    <div class="links">
        <div class="items">
        <ul>
            <a routerLink="/mesformations"><li>Mes formation</li></a>
            <a routerLink="/profil"><li>Mon Profile</li></a>
            <a onclick="openmodal()"><li>Ajouter une formation</li></a>
        </ul>
    </div>
</div>
    <div class="search">
        <input type="text" placeholder="Search">
    </div>
    
    
</nav> 