<nav class="nav">
    <div class="name">
        <a routerLink="/client">Company</a>
    </div>
    <div class="links">
        <div class="items">
        <ul>
            <a routerLink="/achats"><li>Mes Achats</li></a>
            <a routerLink="/profilclient"><li>Mon Profile</li></a>
        </ul>
    </div>
</div>
    <div class="search">
        <input type="text" placeholder="Search">
    </div>
    
    <div class="buttons" style="display: none;">
            <button class="signup">Sign Up</button>
            <button class="login">Log in</button>
        
    </div>
    
</nav> 
