<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<div class="box">
    <div class="img_cover">
        <img src="../assets/python.webp" class="img1"> .
    </div>
    <div class="title_level">
      <div class="title">Python</div>
      <div class="level">Expert</div>
    </div>
    <div class="categorie">
      <label>Python</label>
      <label>Machine learning</label>
    </div>
    <div class="buttons">
    <button class="update" onclick="modaladd()"><i class="fas fa-pen"></i></button>
    <button class="delete" (click)="onDeleteFormation(deleteFormation?.id)"><i class="fas fa-trash-alt"></i></button>
    </div>
  </div>
