*
{
    padding: 0;
    margin: 0;
}
body{
 background-color: #f3e9e7;
 top: 0;
}
a{
    text-decoration: none;
    color: #fff;
}

nav
{
    display: flex;
    padding: 10px;
    width: 100%;
    background-color: #00a7c7;
    color: #fff;
    align-items: center;
    justify-content: space-around; 
}

nav .name
{
    font-size: 1.9em;
}
nav .links
{
    display: flex;
    justify-content: space-between;

}
nav .links ul
{
    display: flex;
    list-style: none;
    color: #fff;
}
nav .links ul li{
    margin: 5px;
}
nav .search input
{
    border: none;
    border-radius: 20px;
    height: 25px;
    width: 150%;
    color: #fff;
    background-color: #9bcfe0;
}
nav .search input:focus
{
    border: #fff;
    background-color: #fff;
    color: #000;
    
}
nav .buttons
{
    margin: 10px;
}
nav .buttons .signup
{
    padding: 5px 15px;
    border: none;
    background-color: #feab6b;
    border-radius: 20px;
    color: #fff;
    transition: 0.5s;
}
nav .buttons .login
{
    padding: 5px 15px;
    border: none;
    background-color: #e76f3d;
    border-radius: 20px;
    color: #fff;
    transition: 0.5s;
}
nav .buttons .login:hover,
nav .buttons .signup:hover
{
    letter-spacing: 2px;
}
article 
{
    justify-content: center;
    margin: 10px 10px 0 10px;
    padding: 20px;
    background-color: #9bcfe0;
    height: 1000px;
    position: relative;
    border-radius: 5px;
    transition: 0.5s;
}
article .tags
{
    display: flex;
    justify-content: space-around;
}
article .tags .tag_items
{
    background-color: rgb(114, 151, 253);
    padding: 10px 50px;
    border-radius: 20px;
    color: #fff;
    font-weight: bolder;
}
article .article_contain
{
    margin:10px 20px;
}
article .article_contain .box-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
article .article_contain .box-container .box
{
    width: 200px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    
}
article .article_contain .box-container .box .img_cover
{
    width: 100%;
    height: 50%;
    margin: 10px;
}
article .article_contain .box-container .box .title
{
    font-size: 1.2em;
    font-weight: bold;

}
article .article_contain .box-container .box .img_cover
{
   display: flex;
   justify-items: center; 
}
article .article_contain .box-container .box .img_cover img
{
    width: 175px;
    border-radius: 20px;

}

article .article_contain .box-container .box a
{
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    background-color: #00a7c7;
    border-radius: 20px;
    width: min-content;
}

article .article_contain .box-container .box .title_level
{
    display: flex;
    align-items: center;
}
article .article_contain .box-container .box .title_level .title
{
    padding: 0 20px;
}
article .article_contain .box-container .box .title_level .level 
{
    padding: 0 20px;
}
article .article_contain .box-container .box .title_level .level::before{
    content: "(";
}
article .article_contain .box-container .box .title_level .level::after{
    content: ")";
}
article .article_contain .box-container .box .categorie
{
    display: flex;
    padding: 0 20px;
}
article .article_contain .box-container .box .categorie label
{
    background-color:rgb(114, 151, 253);
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    margin: 10px;
    height: min-content;
}
.card
{
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    padding: 20px;
    position: absolute;
    opacity: 100%;
    z-index: 100;
    transition: 0.5s;
    margin-top: 15px;
    margin-left: 150px;
    flex-direction: column;
}
.input
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.input input
{
    margin: 10px 0;
    padding: 5px;
    border-radius: 20px;
    border: #00a7c7 1px solid;
    align-items: center;

}
.input .btn 
{
    padding: 4px;
    background: none;
    border: #00a7c7 1px solid;
    border-radius: 10px;
    color: #00a7c7;
    cursor: pointer;
    transition: 00.5s;
}
.input .btn:hover
{
    background: #00a7c7;
    color: #fff;
}
.side
{
    display: flex;
    position: relative;
    margin-left: 263px;
    cursor: pointer;
    color: #00a7c7;
}