<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest</title>
 
</head>
<body>
    <nav class="nav">
        <div class="name">
            Company
        </div>
        <div class="links">
            <div class="items">
            <ul style="display: none;">
                <a href="Mes achats"></a><li>item1</li>
                <li>item2</li>
            </ul>
        </div>
    </div>
        <div class="search">
            <input type="text" placeholder="Search">
        </div>
        
        <div class="buttons">
                <a routerLink="/signup"><button class="signup">Sign Up</button></a>
                <a routerLink="/login"> <button class="login">Log in</button></a>
            
        </div>
        
    </nav> 
    <article>
        
        <div class="article_contain">
           
            <div class="box-container">
                <app-stcard></app-stcard>
            </div>
        </div>
    </article>
</body>
</html> 
